body{
   background-image: url("../image/index-background.jpg");
}
h1{
    padding: 10px 0px 10px 30px;
    
    
}
#main{
    padding: 0px 0px 0px 120px;
}
#nav{
    width: 150px;
    height: 660px;
    float: left;
    background-color:slategray

}
#nav div{
    margin: 30px;
}
#nav button{
    height: 50px;
}
#function{
    width: 300px;
    height:660px;
    float: left;
    background-color:gray
}
#panel{
    width:600px;
    height:660px;
    float: left;
    background-color:rgba(101, 86, 74, 0.36);
}
#function button{
    display: none;
    margin: 30px 0px 0px 75px;
    height: 50px;
    width: 150px;

}
#friend-list{
    display: none;
}

.panel{
    display: none;
}
#form-alter-password{
    margin: 100px 0px 0px 150px;
}

#form-alter-information{
    margin: 100px 0px 0px 150px;
}

#form-add-friend{
    margin: 100px 0px 0px 150px;
}
#form-alter-password label{
    display:inline-block;
    width:100px;
    text-align:right;     
}

#form-alter-information label{
    display:inline-block;
    width:100px;
    text-align:right;     
}

#form-add-friend label{
    display:inline-block;
    width:100px;
    text-align:right;     
}

#display .pleft{
    text-align: left;
    

}
#display .pright{
    text-align: right;
}

#panel5-button{
    margin-left: 550px;
}

#reply-text{
    height:70px;
    width: 590px;
    
}
